@model ShopBanDo.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<p></p>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">List of access roles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Access role details</li>
    </ol>
</nav>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>  <dt class = "col-sm-2">
            Role's name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark btn-icon-text" asp-action="Edit" asp-route-id="@Model.RoleId">
        Edit
        <i class="mdi mdi-file-check btn-icon-append"></i>
    </a>
    <a type="button" class="btn btn-primary btn-icon-text" asp-action="Index">
        <i class="mdi mdi mdi-keyboard-backspace btn-icon-prepend"></i> Back to list
    </a>
</div>
