<!-- Page Preloder -->
@using Microsoft.AspNetCore.Http;
@using ShopBanDo.Extension


<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
    <div class="offcanvas__option">
        <div class="header__top__links">
            @* <a href="/taikhoan/dang-nhap.html">Đăng nhập</a>
                <a href="/dangki/taikhoan.html">Đăng ký</a>
                <a href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a>*@
            @{ if (User.Identity.IsAuthenticated)
                {
                    <a href="/myaccount">My account</a>
                    <a href="/account/logout">Log out</a>
                    <a href="#">Welcome, @User.Identity.Name</a>
                    <a href="/myaccount">My account</a>}
                else
                {
                    <a href="/account/login">Log in</a>
                    <a href="/account/register">Sign up</a>
                }
            }
        </div>
    </div>
    <div class="offcanvas__nav__option">
        @* <a href="#" class="search-switch"><img src="~/Customerassets/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/Customerassets/img/icon/heart.png" alt=""></a>
             @await Component.InvokeAsync("NumberCart")
                <div class="offcanvas-minicart_wrapper" id="miniCart">
                    @await Component.InvokeAsync("HeaderCart")
                </div>*@
        @await Component.InvokeAsync("NumberCart")
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">

    </div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                       <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            @* @if (Context.Session.GetString("CustomerId") != null)
                                    {
                                <a href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a>
                                                <a href="/taikhoan/dang-xuat.html">Đăng xuất</a>
                                                                <a href="#">Chào mừng bạn </a> }
                                                            else
                                                            {
                                                <a href="/taikhoan/dang-nhap.html">Đăng nhập</a>
                                                                <a href="/dangki/taikhoan.html">Đăng ký</a>
                                                                                <a href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a>}*@
                            @if (User.Identity.IsAuthenticated)
                            {


                <a href="#">Welcome, @User.Identity.Name</a>
                                <a href="/account/logout">Log out</a>
                                                <a href="/myaccount">My account</a>}
                                            else
                                            {
                                <a href="/account/login">Log in</a>
                                                <a href="/account/register">Sign up</a>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="/"><img src="~/Customerassets/img/logo.png" alt=""></a>
                </div>

            </div>
            <div class="col-lg-8 col-md-8">
                <nav class="header__menu mobile-menu">
                    <ul>

                        <li @*class="active"*@><a href="/">Home</a></li>
                        <li><a href="/shop-product">Shop</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/blogs">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/page/huong-dan-mua-hang">Shopping guide</a></li>
                                <li><a href="/cart">Cart</a></li>
                                </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="header__nav__option">
                   @* <a href="#" class="search-switch"><img src="~/Customerassets/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="~/Customerassets/img/icon/heart.png" alt=""></a> *@
                    @await Component.InvokeAsync("NumberCart")
                </div>
                <div class="offcanvas-minicart_wrapper" id="miniCart">
                    @await Component.InvokeAsync("HeaderCart")
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </div>
</header>
@section Scripts{
    @*<script>*@
    @*$(document).ready(function () {
            $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Search/FindProduct/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        });*@

}