<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- -->
    <!-- -->
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Customerassets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Customerassets/css/style.css" type="text/css">






    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>
    @await Html.PartialAsync("_HeaderPartialView.cshtml")
    <!-- Header Section End -->
    @RenderBody()
    @await Html.PartialAsync("_FooterPartialView.cshtml")
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- ~/Customerassets/js Plugins -->

    <script src="~/Customerassets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Customerassets/js/bootstrap.min.js"></script>
    <script src="~/Customerassets/js/jquery.nice-select.min.js"></script>
    <script src="~/Customerassets/js/jquery.nicescroll.min.js"></script>
    <script src="~/Customerassets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Customerassets/js/jquery.countdown.min.js"></script>
    <script src="~/Customerassets/js/jquery.slicknav.js"></script>
    <script src="~/Customerassets/js/mixitup.min.js"></script>
    <script src="~/Customerassets/js/owl.carousel.min.js"></script>
    <script src="~/Customerassets/js/main.js"></script>










    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assets/js/plugins/wow.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assets/js/plugins/parallax.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assets/js/main.js"></script>












    @*su dung thu vien notyf*@
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false);
    @await RenderSectionAsync("Styles", required: false);
</body>
</html>