@model ShopBanDo.Models.Product

@{
    ViewData["Title"] = "Create new product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product details</h4>
            <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <label>Product name</label>
                    <input type="text" class="form-control" asp-for="ProductName" placeholder="Product name" required>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">VNĐ</span>
                            </div>
                            <input defaultValue="0" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" asp-for="Price" required> 
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Discount</label>
                        <input asp-for="Discount" class="form-control" type="number" defaultValue="0" required />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Product's category</label>
                        <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId" required>
                            <option value="" disabled selected>Select category</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Units in stock</label>
                        <input asp-for="UnitslnStock" class="form-control" type="number" step="1" min="0" defaultValue="0" required/>
                        <span asp-validation-for="UnitslnStock" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> Active
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="BestSeller" /> @Html.DisplayNameFor(model => model.BestSeller)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HomeFlag" /> @Html.DisplayNameFor(model => model.HomeFlag)
                    </label>
                </div>

                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaDesc" class="control-label"></label>
                    <input asp-for="MetaDesc" class="form-control" />
                    <span asp-validation-for="MetaDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaKey" class="control-label"></label>
                    <input asp-for="MetaKey" class="form-control" />
                    <span asp-validation-for="MetaKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Profile picture</label>
                    <input type="file" name="fThumb" asp-for="Thumb" class="form-control-file">
                    <span asp-validation-for="Thumb" class="text-danger"></span>
                </div>
                <div class="form-group">
      
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="summernote" asp-for="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>
@section Scripts{
    <script src="~/Adminassets/js/select2.js"></script>
    <script src="~/Adminassets/vendors/select2/select2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/Adminassets/summernote/summernote-bs4.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}