@model ShopBanDo.ModelView.ChangePasswordViewModel

<div class="myaccount-details">
    <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input">
                <label>Currenr password</label>
                <input asp-for="PasswordNow" type="password">
            </div>
            <div class="single-input">
                <label>New password</label>
                <input asp-for="Password" type="password">
            </div>
            <div class="single-input">
                <label>Confirm new password</label>
                <input asp-for="ConfirmPassword" type="password">
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Save change</span>
                </button>
            </div>
        </div>
    </form>
</div>