
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-1.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>What Curling Irons Are The Best Ones</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-2.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>Eternity Bands Do Last Forever</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-3.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>The Health Benefits Of Sunglasses</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-4.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>Aiming For Higher The Mastopexy</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-5.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>Wedding Rings A Gift For A Lifetime</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-6.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>The Different Methods Of Hair Removal</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-7.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 16 February 2020</span>
                        <h5>Hoop Earrings A Style From History</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-8.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 21 February 2020</span>
                        <h5>Lasik Eye Surgery Are You Ready</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="/Customerassets/img/blog/blog-9.jpg"></div>
                    <div class="blog__item__text">
                        <span><img src="~/Customerassets/img/icon/calendar.png" alt=""> 28 February 2020</span>
                        <h5>Lasik Eye Surgery Are You Ready</h5>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>